/* ---------- Color Module Styles ----------- */

body {
  color: #333333;
  background: #ebece8;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #ebece8;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#navbar-top {
  background-color: #fff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1);
}

#navbar-main {
  background-color: #fff;
}

a,
.link {
  color: #f1666a;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #018fe2;
}
.nav-item .dropdown-item a.active {
  color: white;
}
.nav-link {
  color: rgb(231, 231, 231);
}
.nav-link:hover,
.nav-link:focus {
  color: rgb(231, 231, 231);
}
a:active,
.link:active {
  color: #f1666a;
}

.page-item.active .page-link {
  background-color: #f1666a;
  border-color: #f1666a;
}

.page-link,
.page-link:hover {
  color: #f74f54;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #f1666a;
  border-color: #f1666a;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #f74f54;
}

.site-footer {
  background: #b8bdad;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}

